---
layout: page
---
{%- if content -%}
<div class="content">
{{- content -}}
</div>
{%- endif -%}


<h3>Theme</h3>
<table>
      <tr>
          <th>Primary Color</th>
          <th>Secondary Color</th>
      </tr>

      <tr>
          <th>{{ site.primary }}</th>
          <th>{{ site.secondary }}</th>
      </tr>
    
</table>

{%- assign pages = site.pages -%}
<h3>Pages</h3>
Edit your pages titles and permalink here
<br>
<table>
    <tr>
        <th>Title</th>
        <th>File Name</th>
        <th>Permalink</th>
  </tr>

  {% for pages in site.pages -%}
        {% if pages.title %}
  <tr>
        <th>{{ pages.title }}</th>
        <th>{{ pages.name }}</th>
        <th>{{ pages.permalink }}</th>
  </tr>
  
        {% endif %}
  {%- endfor -%}
</table>
  
<br>

<h3>Posts</h3>
Edit your posts titles, permalink and redirect links here
<br>
<table>
      <tr>
            <th>Title</th>
            <th>Permalink</th>
            <th>Redirect From</th>
      </tr>

      {% for post in site.posts -%}
      <tr>
            <th>{{ post.title }}</th>
            <th>{{ post.permalink }}</th>
            <th>{{ post.redirect_from }}</th>
      </tr>
      {%- endfor -%}
</table>


