---
layout: page
---
{%- if content -%}
<div class="content">
{{- content -}}
</div>
{%- endif -%}

{%- assign pages = site.pages -%}
<table>
    <tr>
        <th>Title</th>
        <th>File Name</th>
        <th>Permalink</th>
  </tr>

  {% for pages in site.pages -%}
        {% if pages.title %}
  <tr>
        <th>{{ pages.title }}</th>
        <th>{{ pages.name }}</th>
        <th>{{ pages.permalink }}</th>
  </tr>
  
        {% endif %}
  {%- endfor -%}
  </table>
  
<br>

<table>
      <tr>
            <th>Title</th>
            <th>File Name</th>
            <th>Permalink</th>
      </tr>

      {% for post in site.posts -%}
      <tr>
            <th>{{ post.title }}</th>
            <th>{{ post.name }}</th>
            <th>{{ post.permalink }}</th>
      </tr>
      {%- endfor -%}
</table>


